<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>Serving static file</title>
</head>
<body>
    <div class="card">
       <h2>Welcome to demo html</h2>
       <p>This is a demo movies API built using Express JS and a JSON file as a data source</p>
       <p>This is a simple demo html page serving static files</p>  
    </div>
</body>
</html>